
@layer utilities {
      .max-w-90p {
        max-width: 90%;
      }
      
      .max-w-95p {
        max-width: 90%;
      }
      
      .theme-bg-blur {
        @apply backdrop-blur-xl dark:backdrop-blur-xl bg-white bg-opacity-25 dark:bg-slate-900 dark:bg-opacity-25
      }
      
      .how-it-works:hover svg {
        @apply fill-black dark:fill-white
      }
      
      .category-list > div:nth-of-type(odd) {
        @apply bg-gray-100 bg-opacity-50 dark:bg-grayed dark:border-gray-700
      }
      
      .category-list > div:nth-of-type(even) {
        @apply bg-green-100 bg-opacity-50 dark:bg-grayed dark:border-gray-700
      }
     
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
      }
    }