.ftr {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
}

@media (max-width: 768px) {
  .ftr {
    flex-direction: column;
  }

  .foot ul {
    display: block;
    margin-top:70px;
    transform: translate(-50%, -50%);
  }
}

.foot ul {
  display: flex;
  margin-top:50px;
  transform: translate(-50%, -50%);
  margin-left: 250px;
}

.foot ul li {
  list-style: none;
}

.foot ul li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.foot ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.foot ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.foot ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.foot ul li a:hover:before {
  top: 0;
}

.foot ul li:nth-child(1) a:before{
  background: #3b5999;
}

.foot ul li:nth-child(2) a:before{
  background: #55acee;
}

.foot ul li:nth-child(3) a:before {
  background: #0077b5;
}

.foot ul li:nth-child(4) a:before {
  background: #262626;
}

